<div *ngIf="whiteListManagerService.isShow" id="id01" class="w3-modal w3-animate-zoom" style="width: 50%; margin-left: 25%;">
    <div class="w3-modal-content">
        <!-- <form class="container">
            <h1>Add Ip Premission:</h1>
            <label for="ipAddress"><b>Ip Address:</b></label>
            <input type="text" name="ipAddress" placeholder="Enter Ip Address" [(ngModel)]="newIpDetails.ipAddress"><br>
            <label for="ipDescription"><b>Description:</b></label>
            <input type="text" name="ipDescription" placeholder="Enter Description"
                [(ngModel)]="newIpDetails.ipDescription"><br>
            <button type="submit" class="registerbtn" (click)="addIpPremission()">Save</button><br>
        </form> -->
        <button close (click)=close() class="material-icons">close
        </button>

        <form class="w3-container" [formGroup]="premission" (ngSubmit)="addIpPremission()">


            <div class="w3-padding">
               
                <div class="w3-row">
                    <label>כתובת Ip </label>
                    <input type="text" formControlName="ip" class="form-control w3-input"
                        [ngClass]="{ 'is-invalid':f.ip.errors }" />
                    <div *ngIf="f.ip.touched && f.ip.errors" class="invalid-feedback" style="height: 30px;">
                        <small style="color:red" *ngIf="f.ip.errors.required">שדה חובה</small>
                        <small style="color:red" *ngIf="f.ip.errors.pattern">כתובת שגויה </small>
                    </div>
                </div>
            </div>
            <div class="w3-padding">
                <div class="w3-row">
                    <label>תאור</label>
                    <input type="text" formControlName="desc" class="form-control w3-input" />

                </div>
            </div>
            <button type="submit" class="registerbtn" [disabled]="!premission.valid" >שמור</button><br>

        </form>
    </div>
</div>