<h3>כתובות מורשות</h3>
<body class="w3-half">
    <p-table *ngIf="load" [value]="wlservice.IpList" dataKey="id" editMode="row">
        <!-- <ng-template pTemplate="caption">רשימת כתובות מורשות
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th>קוד</th>
                <th>-כתובת-Ip-</th>
                <th>תאור</th>
                <th style="width:8em"></th>
                <th >
                    <button buttonPlus class="pi pi-plus" (click)="add()" ></button>

                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
                <td>
                    {{rowData.id}}
                </td>
                <td>
                    <!-- <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.ip" required>
                        </ng-template>
                        <ng-template pTemplate="output"> -->
                            {{rowData.ip}}
                        <!-- </ng-template>
                    </p-cellEditor> -->
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.description">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.description}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">

                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>
                <td>
                    <button *ngIf="!deleting" pButton type="button" icon="pi pi-trash" class="ui-button-info"
                        (click)="deleting=!deleting"></button>
                    <button *ngIf="deleting" pButton type="button" icon="pi pi-check" class="ui-button-success"
                        style="margin-right: .5em" (click)="Delete(rowData)"></button>
                    <button *ngIf="deleting" pButton type="button" icon="pi pi-times" class="ui-button-danger"
                        (click)="deleting=!deleting"></button>
                    <!-- <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                    (click)="onRowEditCancel(rowData, ri)"></button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</body>
<!-- <button (click)="debugg()">דיבוג</button> -->
<router-outlet></router-outlet>
<!-- <table *ngIf="load">
     <tr>
        <th>Id</th>
        <th>IpAddress</th>
        <th>ipDescription</th>
        <th></th>
    </tr>
    <tr *ngFor="let i of IpList">
        <td>{{i.id}}</td>
        <td>{{i.ipAddress}}</td>
        <td>{{i.ipDescription}}</td>
        <td>
            <a (click)="Delete(i)">delete</a>
            <a (click)="Update(i)">edit</a>
        </td>
    </tr>
 </table> -->